{% include "navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>about the website</title>
    <link rel="stylesheet" href="styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+QLD+Hand:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>
<style>
/*

    body{
      background-image: url("{% static 'assets/images/homepg (3).jpg' %}");
      background-size: 100% 100%;
      background-repeat: no-repeat ;
      background-attachment: fixed;
    }

*/

</style>
<h1 class="nav-item" style="font-size: 70px;">
    About this place :
</h1>
 <p class="nav-item">
    At The Poet's Archive, words are more than just letters on a page—they're windows into different worlds. This site is home to a 
    unique collection of original poems and stories, born from the desire to explore, create, and connect through the power of 
    narrative and verse. Whether you're looking for a lyrical escape or a captivating tale, you'll discover new dimensions within these pages. 
  </p>

    
<h1 class="nav-item" style="font-size: 70px;">
    About the Poet :
</h1>
 <p class="nav-item">
      Lorem Ipsum is simply dLorem ipsum dolor sit amet, consectetur adipiscing elit, s
      ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru
      d exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt 
    </p>
 
<div class="fast">
    <img src="{% static 'assets/images/co1 (2).png' %}" alt="Fast Service Logo">
    <p class="nav-item">Sartiha Shenoy</p>
</div>
 <!--
   <div class="reliable">
    <img src="/images/co2.png" alt="Reliable Service Logo">
    <p class="def">Kirthana Mahale</p>
  </div>-->
   

{% include "footer.html" %}
</body>
</html>