{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
      <footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <h2>A Poet's Archive</h2>
      <p><strong>Corporate & Communications Address:</strong><br>
     xyz mysore</p>
      <p><strong>Registered Address:</strong><br>
   xyz mysore</p>
      <div class="footer-socials">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-x-twitter"></i></a>
        <a href="https://wa.me/+917019275348" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="footer-columns">
      <div>
        <h3>Company</h3>
        <a href="{% url 'about' %}">About Us</a>
        <a href="#">Careers</a>
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div>
        <h3>Publish</h3>
        <a href="#">Poems</a>
        <a href="#">Novels</a>
        <a href="#">Fables</a>
        <a href="#">FAQ's</a>
      </div>
      <div>
        <h3>Explore Poems</h3>
        <a href="#">Kannada</a>
        <a href="#">Hindi</a>
        <a href="#">English</a>
      </div>
      <div>
        <h3>Advertise/Collaborate with us</h3>
        <a href="#">Contact us</a>
        <a href="#">Email</a>
        <a href="#">Phone number</a>
        <a href="#">Address</a>
        <a href="upi://pay?pa=receiver@upi&pn=Receiver%20Name&am=0&cu=INR" target="_blank">Contribute</a>

      </div>
    </div>
  </div>
</footer>

<!-- Font Awesome CDN -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>

          


          
      
   

    
