{% load static %}
{% include "navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <style>
/*

        body
        {
          background-image: url("{% static 'assets/images/homepg (2).jpg' %}");
          background-size: 100% 100%;
          background-repeat: no-repeat ;
          background-attachment: fixed;
        }
        
        */
      </style>
{% csrf_token %}
<br>
   <p class="nav-item" style="text-align: center; margin-top: 4s0px; font-size: 40px;">
    "A poet is, before anything else, a person who is passionately in love with language."
         <p class="nav-item" style="text-align: center; margin-left: 1000px;">
             – W.H. Auden

         </p>
    </p>
<br>
        
<div class="search-container">
  <a href="#" class="search-icon">
    <i class="fas fa-search">

    </i>
  </a>
  {% if user.is_authenticated %}
  <input type="text" placeholder="How can we help you {{user.first_name}}?" class="search">
  {% else %}
  <input type="text" placeholder="How can we help you {{user.first_name}}?" class="search">
  {% endif %}
</div>



<p class="nav-item" style="margin-bottom: 700px;">
  Lorem Ipsum is simply dLorem ipsum dolor sit amet, consectetur adipiscing elit, s
      ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru
      d exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt 
</p>

{% include "footer.html" %}
</body>
</html>